<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="nav" >
    <button class="btn btn-primary"><i class="icon-edit"></i> CREATE</button>
    <button class="btn"><i class="icon-cloud-upload"></i> UPLOAD</button>
    <ul class="nav nav-primary">
        <li><a href="#"><i class="icon-th"></i> Dashboard</a></li>
        <li><a href="#"><i class="icon-user"></i> Me</a></li>
        <li>
            <a href="#"><i class="icon-time"></i> Time</a>
            <ul class="nav">
                <li><a href="#">Today</a></li>
                <li><a href="#">Tomarrow</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="icon-list-ul"></i> All</a></li>
        <li class="active show">
            <a href="#"><i class="icon-tasks"></i> Status</a>
            <ul class="nav">
                <li><a href="#"><i class="icon-circle-blank"></i> Ready</a></li>
                <li class="active"><a href="#"><i class="icon-play-sign"></i> Ongoing</a></li>
            </ul>
        </li>
    </ul>
</th:block>
</body>
</html>