<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://static.dev.gttown.com/static/lib/zui/1.4.0/css/zui.min.css">
</head>
<body>

<nav th:include="common/header::header" class="navbar" role="navigation" style="background: skyblue"></nav>
<nav th:include="common/nav::nav" class="menu" data-toggle="menu" style="width: 200px; float: left;"></nav>
<div th:include="body::body" style="float: left;"></div>
<div th:include="common/footer::footer" style="clear: left"></div>

<script src="http://static.dev.gttown.com/static/lib/jquery/core/1.9.1/jquery.min.js"></script>
<script src="http://static.dev.gttown.com/static/lib/zui/1.4.0/js/zui.min.js"></script>
</body>
</html>