<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://static.dev.gttown.com/static/lib/zui/1.4.0/css/zui.min.css">
</head>
<body>

<div th:replace="common/header::header"></div>
<div th:replace="body::body"></div>
<div th:replace="common/footer::footer"></div>

<script src="http://static.dev.gttown.com/static/lib/jquery/core/1.9.1/jquery.min.js"></script>
<script src="http://static.dev.gttown.com/static/lib/zui/1.4.0/js/zui.min.js"></script>
</body>
</html>